.clear{
  height: 1px;
  clear: both;
}

.application_error_text_alert{
  color: firebrick;
  line-height: 44px;
  span{
    margin-left: 7px;
  }
}

.top15{
  margin-top: 15px;
}
.bottom15{
  margin-bottom: 15px;
}
.left15{
  margin-left:15px;
}
.right15{
  margin-right:15px;
}

