# Created by .ignore support plugin (hsz.mobi)
/app/backend2/
/app/frontend/practisebook/node_modules/
/app/frontend/practisebook/public/resources/font-awesome-4.7.0/HELP-US-OUT.txt
/app/frontend/practisebook/public/resources/font-awesome-4.7.0/less/
/app/frontend/practisebook/public/resources/font-awesome-4.7.0/scss/
