#CALENDAR_PAGE {
  padding: 15px;
}
/* fix bug with select details of visibility*/
#selectboxOfViewOption .Select .Select-menu-outer {
  z-index: 99;
}
/* overwriting styles from react-big-calendar.css */
.rbc-event {
  background-color: #1b325f;
}
.rbc-event.rbc-selected {
  background-color: #1a2850;
}
.rbc-day-slot .rbc-event {
  border: 1px solid #1a2850;
}
.rbc-today {
  background-color: #d4f0f7;
}
.rbc-current-time-indicator,
.rbc-current-time-indicator::before {
  background-color: #78cbdf;
}
.rbc-time-view .rbc-row {
  min-height: 0px;
}
.rbc-time-view .rbc-row div:nth-child(1) {
  height: 0px !important;
}
