.has-error .Select-control,
.has-error input {
  border-color: firebrick !important;
}
.has-error label.control-label {
  color: #b22222;
}
form h5 {
  color: #666;
  font-style: italic;
}
input,
textarea,
select,
.form-control,
.Select-control {
  border-radius: 0;
}
